<html  lang="en" xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/dashboard">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input id="investment" class="form-control me-2" type="search" placeholder="Search for investment" aria-label="Search">
                        <a id="investmentSearch" class="btn btn-outline-success" href="/investment">Search</a>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <th:block th:fragment="assets">
        <script>
        </script>
    </th:block>
</body>

</html>